@charset "utf-8";

/*
See I Can Read
Cascading Style Sheet
Author: Jake Lionetti
Date: 10/24/2019
Filename: homestylesheet.css
*/
html {
	background-color: red;
}

body {
	background-color: red;
}

header {
	margin-top: 20px;
	margin-bottom: 100px;
	text-align: center;
	color: yellow;
	font-size: 45px;
	background-color: red;
}

#title	{
	color: yellow;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 45px;
	background-color: red;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
}

h1 {
  text-align: center;
  margin-top:25px;
  margin-bottom:0px;
  background-color: white;
}

h2 {
	background-color: gray;
	margin-top: 0px;
}

h4 {
	text-align: center;
	font-size: 16px;
}

div#video {
	margin-left: 16px;
	margin-top: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 10%;
  height:120px;
}

footer {
    background-color: red;
    text-align: center;
    color: rgb(214,186,45);
    font-size: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: right;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}
.fa-twitter {
  background-color: #55ACEE;
  color: white;
}
.fa-google {
  background-color: #dd4b39;
  color: white;
}
.fa-youtube {
  background-color: #bb0000;
  color: white;
}
.fa-instagram {
  background-color: #125688;
  color: white;
}

/* navigation bar styles */
.navbar {
background-color: red;
}

/* Navbar links */
.navbar a {
border: 5px;
 float: center;
 text-align: center;
 padding: 15px;
 color: yellow;
 text-decoration: none;
 font-size: 20px;
 font-family: sans-serif;

}

/* Navbar links on mouse-over */
.navbar a:hover {
 background-color: red;
 color: blue;
}
nav a {

font-family: sans-serif;

color:blue;

}

nav a:link, nav:visited{
text-decoration:none;

}

nav a:hover,nav a:active{
color:  blue;
}



/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
}
